.form-main{
    flex: 1;
    background-color: var(--color-white);
    padding: 1rem;
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
}
.form-main > .form-elements{
    flex: 1;
}
.form-main > .submit{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
}
.form-main > .submit > button{
    outline: none;
    border: 1px solid var(--color-slate);
    background-color: var(--color-white);
    cursor: pointer;
    border-radius: var(--rounded);
    padding: 0.3rem 0.6rem;
}
.form-main > .submit > button.sub{
    background-color: var(--color-slate);
}
.form-main > .apiResult{
    width: 100%;
    
}