@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --rounded: 6px;
  --rounded-xl: 10px;

  --color-white: #fff;
  --color-sky: #def2ff;
  --color-water: #a4d2ff;
  --color-blue: #3d98ff;
  --color-dust: #d6d6d6;
  --color-slate: #3f4346;
  --color-black: #1e1e1e;
  --color-error: #ff3b3b;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;

  display: flex;
}

::-webkit-scrollbar {
  width: 4px;
  margin: 1rem;
}
::-webkit-scrollbar-track {
  margin: 1rem; /* width of the entire scrollbar */
  background-color: var(--color-slate);
}
::-webkit-scrollbar-thumb {
  border-radius: 100px 0 0 100px;
  background-color: var(--color-white);
}
